.overlay{
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    .loader {
        position: absolute;
        width: 100px;
        height: 100px;
      }
      
      .loader:before , .loader:after{
        content: '';
        border-radius: 50%;
        position: absolute;
        inset: 0;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
      }
      .loader:after {
        box-shadow: 0 2px 0 #4CAF50 inset;
        animation: rotate 2s linear infinite;
      }
      
      @keyframes rotate {
        0% {  transform: rotate(0)}
        100% { transform: rotate(360deg)}
      }

      p{
        position: absolute;
        bottom: 40%;
        color: #fff;
      }

      h3{
        bottom: 35%;
        position: absolute;
        color: #fff;
        font-weight: bolder;
      }
}



